services:
  comfyui:
    image: comfyui-rocm-7.1.1
    container_name: comfyui-rocm-7
    environment:
      USER_ID: "${USER_ID:-1000}"
      GROUP_ID: "${GROUP_ID:-1000}"
    ports:
      - "8188:8188"
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp=unconfined
    group_add:
      - video
    volumes:
      - ~/.comfyui/user:/comfyui/user:rw
      - ~/.comfyui/output:/comfyui/output:rw
      - ~/.comfyui/custom_nodes:/comfyui/custom_nodes:rw
      - ~/.comfyui/models:/comfyui/models:rw
      - ~/.comfyui/workflows:/comfyui/workflows:rw
    stdin_open: true
    tty: true
    restart: "always"
